<div class="section pv-40 fixed-bg two-col-translucent-bg background-img-7">
  <div class="container">
    <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
      <div class="col-lg-6 text-center">
        <h3 class="mt-4 textBold grayText">Pure CSS Social Buttons 1 - Code
          <a class="externalLink" href="https://codepen.io/Stockin/pen/mzydLz" target="_blank" pTooltip="Original Source" tooltipPosition="top"
            placeholder="Top">
            <i class="fa fa-external-link-square" aria-hidden="true"></i>
          </a>
        </h3>
        <div class="separator"></div>
        <ul class="nav nav-tabs style-1" role="tablist">
          <li class="nav-item dashTabOne">
            <a class="nav-link" href="#socialButtons11" role="tab" data-toggle="tab">
              HTML</a>
          </li>
          <li class="nav-item dashTabTwo">
            <a class="nav-link active" href="#socialButtons12" role="tab" data-toggle="tab">
              CSS</a>
          </li>
          <li class="nav-item dashTabThree">
            <a class="nav-link" href="#socialButtons13" role="tab" data-toggle="tab">
              JS</a>
          </li>
        </ul>
        <div class="tab-content fixedHeight">
          <div class="tab-pane fade" id="socialButtons11" role="tabpanel">
            <prism-block [code]="htmlCode" [language]="'html'"></prism-block>
          </div>
          <div class="tab-pane fade show active" id="socialButtons12" role="tabpanel">
            <prism-block [code]="cssCode" [language]="'css'"></prism-block>
          </div>
          <div class="tab-pane fade" id="socialButtons13" role="tabpanel">
            <prism-block [code]="jsCode" [language]="'js'"></prism-block>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <h3 class="mt-4 textBold previewText">Pure CSS Social Buttons 1 - Preview</h3>
        <div class="separator"></div>
        <div class="container">
          <div class="codeStart">
            <div class="row row1">
              <ul>
                <li>
                  <a class="pointer">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <span> - Facebook</span>
                  </a>
                </li>
                <li>
                  <a class="pointer">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span> - Twitter</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="row row2">
              <ul>
                <li>
                  <a class="pointer">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <span> - Google</span>
                  </a>
                </li>
                <li>
                  <a class="pointer">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <span> - Instagram</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>