<div class="row default-translucent-bg topHeight">
  <div class="col-md-12">
    <!-- <div class="container">
      <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
      <div class="separator"></div>
      <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
        <div class="col-lg-8">
          <p>Lorem ipsum dolor sit amet,
            <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
            minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
          <a href="#" class="btn btn-default">Default</a>
          <a href="#" class="btn btn-dark">Dark</a>
          <a href="#" class="btn btn-gray">Gray</a>
          <a href="#" class="btn btn-gray-transparent">Transparent</a>
        </div>
        <div class="col-lg-4">
          <ul class="list-icons">
            <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="100">
              <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
            <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="150">
              <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
            <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="200">
              <i class="fa fa-check-square-o"></i> W3C Validated</li>
            <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
              <i class="fa fa-check-square-o"></i> Elegant Design</li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="container">
      <div class="hc-slideshow-caption p-3 w-100">
        <div class="row">
          <div class="col-md-10">
            <h1 class="ralewayFont customSize title large text-white animated fadeInDown hc-animation-delay-1000">Wellcome to
              <span class="text-lime">The Agency</span>
            </h1>
            <div class="separator-2 animated fadeInUp hc-animation-delay-1250"></div>
            <p class="large animated fadeInLeft hc-animation-delay-1500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis
              voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta
              illo deserunt tempora qui.</p>
            <a href="#" class="btn btn-default btn-xl animated fadeInLeft hc-animation-delay-1750">Let's Start</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="marginTop">
  <div class="container">
    <div class="row section pv-40 fixed-bg dark-translucent-bg background-img-7" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">CSS World - Top Charts</h2>
        <div class="separator"></div>
        <!-- <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
              <div class="col-lg-8">
                <p>Lorem ipsum dolor sit amet,
                  <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
                  minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
                <a href="#" class="btn btn-default">Default</a>
                <a href="#" class="btn btn-dark">Dark</a>
                <a href="#" class="btn btn-gray">Gray</a>
                <a href="#" class="btn btn-gray-transparent">Transparent</a>
              </div>
              <div class="col-lg-4">
                <ul class="list-icons">
                  <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="100">
                    <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
                  <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="150">
                    <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
                  <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="200">
                    <i class="fa fa-check-square-o"></i> W3C Validated</li>
                  <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
                    <i class="fa fa-check-square-o"></i> Elegant Design</li>
                </ul>
              </div>
            </div> -->
      </div>
    </div>
  </div>
  <app-flip-button3-d></app-flip-button3-d>
  <div class="separator"></div>
  <app-boxes-float-up></app-boxes-float-up>
  <div class="separator"></div>
  <app-border-animation-button></app-border-animation-button>
  <div class="separator"></div>
  <app-pure-css-nav-bar1></app-pure-css-nav-bar1>
  <div class="container">

    <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInLeftSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
      <div class="col-md-12">
        <h2 class="mt-4 text-center textBold">Fixed Background - Dark Translucent Background</h2>
        <div class="separator"></div>
        <div class="row" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
          <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet,
              <a href="#">link</a> adipisicing elit. Dicta voluptatem, tenetur eum tempore minus libero voluptates eos doloremque. Dolore
              minima rem consequuntur exercitationem quaerat deleniti repellendus enim necessitatibus mollitia tenetur?</p>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-gray">Gray</a>
            <a href="#" class="btn btn-gray-transparent">Transparent</a>
          </div>
          <div class="col-lg-4">
            <ul class="list-icons">
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="100">
                <i class="fa fa-check-square-o"></i> Bootstrap Based</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="150">
                <i class="fa fa-check-square-o"></i> Full Packed of Features</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="200">
                <i class="fa fa-check-square-o"></i> W3C Validated</li>
              <li class="hc-element-invisible" data-animation-effect="fadeInRightSmall" data-effect-delay="250">
                <i class="fa fa-check-square-o"></i> Elegant Design</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>